<meta charset="utf-8">
<div class="form-group">
    <div class="bg-light lter b-b wrapper-md hidden-print">
 		 <h1 class="m-n font-thin h3 inline">{{"&nbsp" + "&nbsp" + "&nbsp" +"&nbsp" + name}}</h1>
	</div>
<div class="form-group">
	<div  class="col-sm-7 col-lg-10">
		<div ng-show="ppublish" class="row bg-light lter b-b wrapper-sm hidden-print">
			<h5 class="text-center" class="m-n font-thin h5">¿Seguro que desea publicar?</h5>
			<div class="btn-group col-md-2 col-md-offset-5 text-center">
				<p>
					<button ng-click="publish()" class="btn btn-sm btn-default">Sí</button>
					<button ng-click="ppublish = false" class="btn btn-sm btn-default">No</button>
				</p>
			</div>
		</div> 	
		
	<!-- Aqui va la obra anterior  -->
    <div class="col-xs-12" >
        <span>Último escrito</span>
    </div>
    <div class="padder text-justify fr-viewx col-xs-12 bg-white " ng-hide="mostrarUltimo" id="preview" style="-webkit-user-select:
		none; -moz-user-select: none;  user-select: none; padding: 20px;" contentEditable=true>
		<p></p>
	 </div>
	 <div>
	 <button class="pull-right btn m-b-xs w-xs-2 btn-dark btn-rounded" ng-click="mostrarUltimo = !mostrarUltimo" ng-hide="botonUltimo">Ocultar escrito</button>
	 </div>
	
	<div ng-show="divShow">
		<p ng-show="modifiedDate" class="text-center"><small>Última modificación: {{modified}}</small></p>
		<p ng-hide="notModified" class="text-center"><small>No se han guardado los cambios</small></p>

		<div id="froala-editor" class="froala-editor" >
			<form id="froala-form" >
				<textarea  class="selector" style="margin-top: 30px;" placeholder="Type some text" ng-model="content" id='edit' >

				</textarea>
			</form>
		</div>
		<button id="send" type="submit" ng-click="send()" class="btn btn-lg btn-default btn-block" class="btn btn-default">Guardar</button>
		<button id="finish" type="submit" ng-click="finish()" class="btn btn-lg btn-default btn-block" class="btn btn-default">Guardar y salir</button>
		<button ng-show="isOwner" ng-click="showPublish()" class="btn btn-lg btn-default btn-block" ng-messages="expression" data-toggle="modal" data-target="#myModal" class="btn btn-default">Publicar</button>
    </div>
		<script>
			$(function() {
				$('#edit').on('froalaEditor.initialized', function(e, editor) {
					$('#edit').parents('form').on('submit', function() {
						console.log($('#edit').val());
						
						return false;
					})
				}).froalaEditor({
					  height: 520,
				      heightMax: 520,
					enter : $.FroalaEditor.ENTER_P,
					placeholderText : null
				})
			});
			
		</script>
	</div>
</div>
</div>

