<meta charset="utf-8">
<!-- content -->
<div id="content" class="app-content" role="main">

	<div class="app-content-body " ng-controller="acceptLegalCtrl">


		<!-- 		MOSTRAR REGLAS -->
		<div class="wrapper-md">
			<div id="MostrarReglas" class=" panel panel-default">
				<div class="panel-heading font-bold">Términos y condiciones</div>
				<div class="m-l-lg" ng-repeat="pane in legalList | orderBy:'part'">
					<h4>{{pane.name}}</h4>
					<p>{{pane.description}}</p>
				</div>

					<!-- 
					
					<div ui-grid="gridOptions" ui-grid-move-columns class="myGrid"></div>
					<form name="step1"
						class="form-validation ng-dirty ng-valid-parse form-control ng-valid ng-valid-required ng-touched"">
						<label class="i-checks"> <input aria-invalid="true"
							aria-required="false" aria-checked="false" tabindex="0"
							class="ng-dirty ng-valid-parse form-control ng-valid ng-valid-required ng-touched"
							ng-model="agree" required="" type="checkbox"><i></i>
							Estoy de acuerdo con terminos y condiciones
						</label>

						<div class="m-t m-b">
							<button disabled="disabled" aria-disabled="true" type="submit"
								ng-disabled="step1.$invalid" class="btn btn-default btn-rounded"
								ng-click="steps.step2=true">Siguiente</button>
						</div>
					</form> -->
					<div class=" col-lg-4"></div>
					<div class=" col-lg-4">
					<a ng-click="navSignup()" ui-sref="access.signup"
						class="btn btn-lg btn-default btn-block" > Continuar creando cuenta</a>

</div>

				</div>
			</div>

		</div>
		<!-- !mOSTRAR REGLAS -->
	</div>
</div>