<meta charset="utf-8">
  <!-- content -->
  <div id="content" class="app-content" role="main">
      <div class="btn-group">
	            <button ng-click="updateHome()" class="btn btn-sm btn-bg btn-default" data-toggle="tooltip" data-placement="bottom" data-title="Refresh" data-original-title="" title=""><i class="fa fa-refresh"></i></button>
	  </div>
	  <div class="hbox hbox-auto-xs hbox-auto-sm">
	  		<ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
	  			<il ng-repeat="wr in writting" class="list-group-item clearfix b-l-3x b-l-info"><p>Título:{{wr.name}}</p><p>Categoría:{{wr.category}}</p><p>Descripción:{{wr.description}}</p></il>
				<p ng-repeat="us in user">Autor:{{us.author}}</p>
	 		</ul>
	   </div>
	  
  </div>
  <!-- /content -->